@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Ubuntu:wght@300;700&display=swap");

body {
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 34%, rgba(148,233,222,1) 100%);}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}